.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tạo animation với tên scroll-text */
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); /* Chạy ngang từ phải qua trái */
  }
}

/* Container để giới hạn vùng hiển thị và ẩn vùng văn bản nằm ngoài khung */
.scrolling-text-container {
  width: 300px; /* Điều chỉnh chiều rộng của vùng hiển thị */
  overflow: hidden;
}

/* Vùng văn bản cần chạy ngang */
.scrolling-text {
  animation: scroll-text 10s linear infinite; /* Thời gian và kiểu hoạt hình có thể điều chỉnh */
  white-space: nowrap; /* Ngăn dòng chữ bị ngắt khi chạy */
}

